body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#board {
    height: 400px;
    aspect-ratio: 1/1;
    background-color: grey;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

#board div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 10rem;
    overflow: hidden;

}